* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
}

.main-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  font-family: "Arial", sans-serif;
}

.form {
  background: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #333;
  display: block;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
  transition: all 0.3s ease;
}

input:focus,
select:focus {
  border-color: #6a11cb;
  box-shadow: 0 0 8px rgba(106, 17, 203, 0.5);
  outline: none;
}

.submit-button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background: #2575fc;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

.submit-button:hover {
  background: #6a11cb;
  transform: translateY(-2px);
}

.error-msg {
  color: red;
  font-size: 14px;
  font-family: "Bree Serif";
}

@media (max-width: 500px) {
  .form {
    padding: 20px;
  }
}
